<?xml version="1.0"?>
<model>
  <name>dummy_blue</name>
  
  <version>1.0</version>
  
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Andrew Duguay</name>
    <email>andrewjosephduguay@gmail.com</email>
  </author>

  <description>
    Super simplified robot for general logic testing
  </description>
</model>